aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
analytics-python==1.4.post1
appdirs==1.4.4
argcomplete==3.0.8
astor==0.8.1
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
azure-core==1.26.4
azure-storage-blob==12.16.0
Babel==2.13.0
backoff==1.10.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blessed==1.20.0
boltons 
boto3==1.26.125
botocore==1.29.125
brotlipy==0.7.0
cachetools==5.3.0
certifi 
cffi 
charset-normalizer 
conda==23.3.1
conda-content-trust 
conda-package-handling 
conda_package_streaming 
contourpy==1.0.7
cryptography
cycler==0.11.0
determined==0.21.2
docker==6.0.1
docopt==0.6.2
docutils==0.20.1
filelock
fonttools==4.39.3
frozenlist==1.4.0
fsspec==2023.9.0
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.31
gmpy2 
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
hdfs==2.7.0
httplib2==0.22.0
huggingface-hub==0.16.4
idna
imagesize==1.4.1
importlib-metadata==6.8.0
inquirer==3.1.3
isodate==0.6.1
Jinja2
jmespath==1.0.1
jsonpatch
jsonpointer==2.1
kiwisolver==1.4.4
litellm==0.1.609
lmdb==1.4.1
lomond==0.3.3
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.7.1
mdurl==0.1.2
monotonic==1.6
mpmath==1.2.1
multidict==6.0.4
networkx 
numpy 
open-interpreter==0.1.3
openai==0.27.10
packaging 
paramiko==3.1.0
pathspec==0.11.1
Pillow==9.4.0
pluggy 
protobuf==4.22.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat 
pycparser 
Pygments==2.16.1
PyNaCl==1.5.0
pyOpenSSL 
pyparsing==3.0.9
PySocks
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.0.2
readchar==4.0.5
regex==2023.8.8
requests 
rich==13.5.2
rsa==4.9
ruamel.yaml
ruamel.yaml.clib 
s3transfer==0.6.0
six 
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-sitemap==2.5.1
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sympy
tabulate==0.9.0
termcolor==2.3.0
tiktoken==0.4.0
tokentrim==0.1.10
toolz 
torch==2.0.0
torchvision==0.15.0
tqdm 
typing_extensions
uritemplate==4.1.1
urllib3 
wcwidth==0.2.6
websocket-client==1.5.1
websockets==11.0.2
wget==3.2
yarl==1.9.2
yogadl==0.1.4
zipp==3.16.2
zstandard 

\